.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.template-image{
  width: 100%;
}

.row {
  margin-bottom: 14px;
}

.resize-width{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.avatar-display{
  width: 50%;
  height: 50%;
  border-radius: 10%;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card-img-top{
  width: 100%;
  height: 15vw;
  object-fit: cover;
}